div.doc{ 
    background-color: rgba(0, 3, 196, 0.763);
    padding: 0.5rem 0;
}
#header{
    background-color: blue;
    padding: 3px 4px;
}
a{
    color: rgb(0, 0, 0);
    background-color:rgb(210, 214, 214);
    padding: 0px 6px;
}
h1{
    color: rgb(255, 0, 132);
    background-color:blue;
    padding: 8px 4px 3px;
}
h2{
    color: rgb(157, 0, 255);
    background-color: rgb(255, 0, 200);
    padding: 0px 6px;
}
h3{
    color: orangered;
    background-color: orange;
    padding: 0px 6px;
}
img {
    height: 45%;
    width: 20%;
    aspect-ratio: 1/1;
    background-size: cover;
    border: .5rem rgb(0, 129, 37) solid;
    border-radius: 100vh;
}